parameters:
	ignoreErrors:
		-
			message: '#^Cannot cast array\<mixed, mixed\>\|string to string\.$#'
			identifier: cast.string
			count: 1
			path: src/UriTemplate.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/UriTemplate.php

		-
			message: '#^Method GuzzleHttp\\UriTemplate\\UriTemplate\:\:isAssoc\(\) has parameter \$array with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/UriTemplate.php
