parameters:
    level: max
    checkMissingIterableValueType: false
    paths:
        - src
    ignoreErrors:
        -
            message: "#^Cannot cast mixed to string\\.$#"
            count: 5
            path: src/UriTemplate.php
